<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SOURCE_DATA_DIRECTORY" value="C:\Users\Dashboard_DO\Documents\SAP Data\SAP Raw"/>
    <add key="SOURCE_DATA_DIRECTORY_NORMALIZED_FILES" value="C:\Users\Dashboard_DO\Documents\SAP Data\SAP Normailzed"/>
    <add key="SCRIPT_REPOSITORY_DIRECTORY" value="C:\Users\Dashboard_DO\Documents\SAP Scripts"/>

  </appSettings>
  <connectionStrings>
    <add name = "Excel03ConString" connectionString = "Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add name = "Excel07+ConString" connectionString = "Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add name = "BillRep" connectionString = "Data Source=DOOCCSQLDEV01;Database=CX_LC_DASH_ALL;User Id=cx_lc_do_pwrapps;password=cx_LC_2020$"/>
    <add name="RebateManagerEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.51.1.64;initial catalog=RebateManager;persist security info=True;user id=usuarioSQL;password=UsuarioSQL1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
